<!doctype html>
<html>
    <head>
        <title>영화 그 이상의 감동, CGV</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="header">
            <div class="container">
                <div class="hyperlink">
                    <ul>
                        <li>
                            <a href="#" class="cgv-app"></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/CJCGV" class="facebook"></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/cgv_korea/" class="instagram"></a>
                        </li>
                        <li>
                            <a href="/discount/" class="discount"></a>
                        </li>
                    </ul>
                </div>
                <div class="user-inter">
                    <ul>
                        <li>
                            <a href="/user/login" class="login"></a>
                        </li>
                        <li>
                            <a href="/user/join" class="join"></a>
                        </li>
                        <li>
                            <a href="/user/mycgv" class="mycgv"></a>
                        </li>
                        <li>
                            <a href="/user/vip" class="vip"></a>
                        </li>
                        <li>
                            <a href="/user/club" class="club-service"></a>
                        </li>
                        <li>
                            <a href="" class="customer"></a>
                        </li>
                        <li>
                            <a href="" class="showtimes"></a>
                        </li>
                    </ul>
                </div>
                <div class="head">
                    <div class="logo">
                        <a href="/">
                            <img src="https://img.cgv.co.kr/R2014/images/title/h1_cgv.png" alt="CGV">
                        </a>
                    </div>
                    <div class="popup">
                        <h1 id="cultureplex">
                            <img src="https://img.cgv.co.kr/R2014/images/title/h2_cultureplex.png">
                        </h1>
                        <ul id="popup">
                            <li>
                                <a>영화</a>
                                <div class="sub-menu">
                                <i></i>
                                <ul>
                                <li><a>무비차트</a></li>
                                <li><a>HD 트레일러</a></li>
                                <li><a>무비파인더</a></li>
                                <li class="last"><a>CGV아트하우스</a></li>
                                </ul>
                                </div>
                            </li>
                            <li>
                                <a>예매</a>
                                <div class="sub-menu" style="left:54px;">
                                <i></i>
                                <ul>
                                <li><a>빠른예매</a></li>
                                <li><a>상영시간표</a></li>
                                </ul>
                                </div>
                            </li>
                            <li>
                                <a>극장</a>
                                <div class="sub-menu" style="left:181px;">
                                <i></i>
                                <ul>
                                <li><a>CGV 극장</a></li>
                                <li><a>특별관</a></li>
                                <li class="last"><a>CLUB 서비스</a></li>
                                </ul>
                                </div>
                            </li>
                            <li>
                                <a>이벤트&컬쳐</a>
                                <div class="sub-menu" style="left:344px;">
                                <i></i>
                                <ul>
                                <li><a>이벤트</a></li>
                                <li><a>기프트샵</a></li>
                                <li><a>매거진</a></li>
                                </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="search">
                        <input type="text"/>
                        <button type="button">검색</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="main">
        <div class="login-hyperlink">
        <div class="container">
        <a href="/"><img alt="home" src="https://img.cgv.co.kr/R2014/images/common/btn/btn_home.png"></a>
        <ul>
        <li><a>VIP LOUNGE</a></li>
        <li><a>Club서비스</a></li>
        </ul>
        </div></div>
        <div class="login-login">
        <div class="container">
        <div class="login-login-tap">
        <ul>
        <li><a class="on">로그인</a><li>
        <li><a>비회원 예매</a><li>
        <li><a>비회원 예매확인</a><li>
        </ul>
        </div>
        <div class="login-login-login">
        <p>아이디 비밀번호를 입력하신 후, 로그인 버튼을 클릭해 주세요.</p>
        <form id="form-login">
        <ul>
        <li><input id="login-input-id" /></li>
        <li><input id="login-input-pw" /></li>
        </ul>
        <button type="submit" class="btn-login"><span>로그인</span></button>
        <div class="login-find-user-inform">
        <input type="checkbox" id="login-save-id" />
        <label for="login-save-id">아이디 저장</label>
        <a style="width: 75px;">아이디 찾기</a>
        <a>비밀번호 찾기</a>
        <button type="button" class="btn-naver-login"><img src="https://img.cgv.co.kr/image_gt/login/btn_loginNaver.jpg" alt="네이버 로그인"></button>
        </div>
        </form>
        </div>
        </div>
        </div>
        
                <div class="sidebar">
                <div class="sidebar-content">
                    <a>
                        <img src="https://img.cgv.co.kr/R2014/images/common/btn/btn_person_theater.gif" alt="CGV THEATER">
                    </a>
                    <a>
                        <img src="https://img.cgv.co.kr/R2014/images/common/btn/btn_person_arthouse.gif" alt="CGV arthouse">
                    </a>
                    <a>
                        <img src="https://img.cgv.co.kr/R2014/images/common/btn/btn_person_special.gif" alt="CGV SPECIAL">
                    </a>
                    <a>
                        <img src="https://img.cgv.co.kr/R2014/images/common/btn/btn_person_ticket.gif" alt="CGV TICKET INFO">
                    </a>
                    <a>
                        <img src="https://img.cgv.co.kr/R2014/images/common/btn/btn_person_discount.gif" alt="CGV DISCOUNT INFO">
                    </a>
                </div>
                <div class="btn-top">
                <a href="#" onclick="window.scrollTo(0,0);return false;"></a>
            </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>
            $('#popup').children().mouseover((e) => {
              try{
                if(e.target.tagName === "DIV") e.target.classList.add('on');
                else e.target.nextElementSibling.classList.add('on');
              }catch(err){
              }

           });
           $('#popup').children().mouseleave((e) => {
              try{
                if(e.target.tagName === 'DIV') e.target.classList.remove('on');
                else e.target.nextElementSibling.classList.remove('on');      
              }catch(err){}

           });
            
        </script>
    </body>
</html>
