<!doctype html>
<html>
<head>
<title>영화 그 이상의 감동, CGV</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<div id="header">
<div class="container">
<div class="hyperlink">
<ul>
<li><a href="#" class="cgv-app"></a></li>
<li><a href="https://www.facebook.com/CJCGV" class="facebook"></a></li>
<li><a href="https://www.instagram.com/cgv_korea/" class="instagram"></a></li>
<li><a href="/discount/" class="discount"></a></li>
</ul>
</div>
<div class="user-inter">
<ul>
<li><a href="/user/login" class="login"></a></li>
<li><a href="/user/join" class="join"></a></li>
<li><a href="/user/mycgv" class="mycgv"></a></li>
<li><a href="/user/vip" class="vip"></a></li>
<li><a href="/user/club" class="club-service"></a></li>
<li><a href="" class="customer"></a></li>
<li><a href="" class="showtimes"></a></li>
</ul>
</div>
<div class="head">
</div>
</div>
</div>
<div id="main">
</div>
<div id="footer">
</div>
</body>
</html>