<!doctype html>
<html>
<head>
<title>영화 그 이상의 감동, CGV</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<div id="header">
<div class="container">
<div class="hyperlink">
<ul>
<li><a href="#" class="cgv-app"></a></li>
<li><a href="https://www.facebook.com/CJCGV" class="facebook"></a></li>
<li><a href="https://www.instagram.com/cgv_korea/" class="instagram"></a></li>
<li><a href="/discount/" class="discount"></a></li>
</ul>
</div>
<div class="user-inter">
<ul>
<li><a href="/user/login" class="login"></a></li>
<li><a href="/user/join" class="join"></a></li>
<li><a href="/user/mycgv" class="mycgv"></a></li>
<li><a href="/user/vip" class="vip"></a></li>
<li><a href="/user/club" class="club-service"></a></li>
<li><a href="" class="customer"></a></li>
<li><a href="" class="showtimes"></a></li>
</ul>
</div>
<div class="head">
<div class="logo">
<a href="/">
<img src="https://img.cgv.co.kr/R2014/images/title/h1_cgv.png" alt="CGV">
</a>
</div>
<div class="popup">
<h1 id="cultureplex"><img src="https://img.cgv.co.kr/R2014/images/title/h2_cultureplex.png"></h1>
<ul id="popup">
<li><a>영화</a></li>
<li><a>예매</a></li>
<li><a>극장</a></li>
<li><a>이벤트 & 컬쳐</a></li>
</ul>
</div>
<div class="search">
<input type="text" />
<button type="button">검색</button>
</div>
</div>
</div>
</div>
<div id="main">
<div class="container">
<div class="slider">
<div class="item-wrap-on">
<a><img src="https://img.cgv.co.kr/Front/Main/2021/0913/16315036396800.jpg" alt="VIP 익스프레스" style="width: 100%; height: 100%;"></a>
<button type="button" class="btn-item" style="left: 888px; display: block;">VIP 익스프레스</button>
</div>
<div class="item-wrap">
<a><img src="https://img.cgv.co.kr/Front/Main/2021/1004/16333547813370.jpg" alt="007 스탠딩 포스터 팩" style="width: 100%; height: 100%;"></a>
<button type="button" class="btn-item" style="left: 906px; display: block;">007 스탠딩 포스터 팩</button>
</div>
<div class="item-wrap">
<a><img src="https://img.cgv.co.kr/Front/Main/2021/1006/16335097273370.jpg" alt="베놈2 필름마크" style="width: 100%; height: 100%;"></a>
<button type="button" class="btn-item" style="left: 924px; display: block;">베놈2 필름마크</button>
</div>
<div class="item-wrap">
<a><img src="https://img.cgv.co.kr/Front/Main/2021/1006/16335195084410.jpg" alt="베놈2 SCREENX 포스터 팩" style="width: 100%; height: 100%;"></a>
<button type="button" class="btn-item" style="left: 942px; display: block;">베놈2 SCREENX 포스터 팩</button>
</div>
<div class="item-wrap">
<a><img src="https://img.cgv.co.kr/Front/Main/2021/1006/16335195084880.jpg" alt="베놈2 4DX 포스터 팩" style="width: 100%; height: 100%;"></a>
<button type="button" class="btn-item" style="left: 960px; display: block;">베놈2 4DX 포스터 팩</button>
</div>
<button type="button" class="btn-move-prev">이전 페이지 이동</button>
<button type="button" class="btn-move-next">다음 페이지 이동</button>
<button type="button" class="btn-move-auto auto-false">자동 페이지 이동</button>
</div>
<div class="selector">
<h3><img src="https://img.cgv.co.kr/R2014/images/title/h3_movie_selection.gif" alt="MOVIE SELECTION"></h3>
<div class="recom-movie">
<iframe src="https://ad.cgv.co.kr/NetInsight/html/CGV/CGV_201401/main@Selection_L" width="733" height="388" title="" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" name="Movie_Selection_L" id="Movie_Selection_L" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe>
<iframe src="https://ad.cgv.co.kr/NetInsight/text/CGV/CGV_201401/main@Selection_R_08" width="240" height="388" title="" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" name="Movie_Selection_R" id="Movie_Selection_R"></iframe>
</div>
<div class="event">
<h3><img src="https://img.cgv.co.kr/R2014/images/title/h3_event.gif" alt="EVENT"></h3>
<ul class="event-list">
<li class="on" data-num="1"><a>CGV스페셜</a></li>
<li data-num="2"><a>영화/예매</a></li>
<li data-num="3"><a>CGV아트하우스</a></li>
<li data-num="4"><a>제휴/할인</a></li>
<li data-num="5"><a>맴버십</a></li>
</ul>
<div class="show-events">
<div class="events">
<a><img src="https://img.cgv.co.kr/Front/Main/2021/0913/16315179619950.jpg" alt="CGV VIP EXPRESS"></a>
<a><img src="https://img.cgv.co.kr/Front/Main/2021/0913/16315139087750.jpg" alt="IMAX WORLD TRAVEL"></a>
<a><img src="https://img.cgv.co.kr/Front/Main/2021/0913/16315139088220.jpg" alt="CJ ONE 7% 적립"></a>
<a><img src="https://img.cgv.co.kr/Front/Main/2021/0330/16170705205160.jpg" alt="시그니처 K"></a>
</div>
<div class="events">
</div>
<div class="events">
</div>
<div class="events">
<a><img src="https://img.cgv.co.kr/Front/Main/2020/1231/16093946547390.jpg" alt="KT 멤버십"></a>
<a><img src="https://img.cgv.co.kr/Front/Main/2021/0629/16249597733760.jpg" alt="영화즉시할인은 NH농협카드"></a>
<a><img src="https://img.cgv.co.kr/Front/Main/2020/1223/16087026751200.jpg" alt="마이신한포인트"></a>
</div>
<div class="events">
<a><img src="https://img.cgv.co.kr/Front/Main/2021/0915/16316758541400.jpg" alt="더블적립"></a>
<a><img src="https://img.cgv.co.kr/Front/Main/2021/0915/16316758541560.jpg" alt="포인트 반값할인"></a>
<a><img src="https://img.cgv.co.kr/Front/Main/2021/0915/16316758541090.jpg" alt="온라인 쿠폰북"></a>
<a><img src="https://img.cgv.co.kr/Front/Main/2021/0913/16315035321080.jpg" alt="스페셜데이"></a>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="footer">
</div>

<script>
Array.prototype.forEach.call(document.getElementsByClassName('btn-item'), function(element){
    element.addEventListener('click', (e) => {
        let wrap_on = document.getElementsByClassName('item-wrap-on')[0];
        wrap_on.classList.toggle('item-wrap');
        wrap_on.classList.toggle('item-wrap-on');
        e.target.parentElement.classList.toggle('item-wrap');
        e.target.parentElement.classList.toggle('item-wrap-on');
    });
})

const moveItem = (moveprev) => {
    let wrap_on = document.getElementsByClassName('item-wrap-on')[0];
    wrap_on.classList.toggle('item-wrap');
    wrap_on.classList.toggle('item-wrap-on');
    let move_item;
    if(moveprev) move_item = wrap_on.previousElementSibling ? wrap_on.previousElementSibling : document.getElementsByClassName('item-wrap')[document.getElementsByClassName('item-wrap').length-1];
    else move_item = wrap_on.nextElementSibling.classList.value == "item-wrap" ? wrap_on.nextElementSibling : wrap_on.parentElement.firstElementChild;
    move_item.classList.toggle('item-wrap');
    move_item.classList.toggle('item-wrap-on');
}
var moveItemAuto;
document.getElementsByClassName('btn-move-prev')[0].addEventListener('click', (e) => moveItem(true));
document.getElementsByClassName('btn-move-next')[0].addEventListener('click', (e) => moveItem(false));
document.getElementsByClassName('btn-move-auto')[0].addEventListener('click', (e) => {
    if(e.target.className.split(' ').indexOf('auto-false') > -1){
        moveItemAuto = setInterval(moveItem, 1000);
        e.target.classList.toggle('auto-false');
        e.target.classList.toggle('auto-true');
    }else{
        clearInterval(moveItemAuto);
        e.target.classList.toggle('auto-false');
        e.target.classList.toggle('auto-true');
    }
})

const showEvent = function(num){
    if(document.getElementsByClassName('events on')[0]) document.getElementsByClassName('events on')[0].classList.remove('on');
    document.getElementsByClassName('show-events')[0].children[num - 1].classList.add('on');
}
showEvent(1);
Array.prototype.forEach.call(document.getElementsByClassName('event-list')[0].children, (li) => {
    li.addEventListener('click', (e) => {
        document.getElementsByClassName('on')[0].classList.remove('on');
        let event_num = parseInt(e.target.parentNode.dataset.num);
        document.getElementsByClassName('event-list')[0].children[event_num - 1].classList.add('on');
        showEvent(event_num);
    })
})

</script>
</body>
</html>