<!doctype html>
<html>
<head>
<title>영화 그 이상의 감동, CGV</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<div id="header">
<div class="container">
<div class="hyperlink">
<ul>
<li><a href="#" class="cgv-app"></a></li>
<li><a href="https://www.facebook.com/CJCGV" class="facebook"></a></li>
<li><a href="https://www.instagram.com/cgv_korea/" class="instagram"></a></li>
<li><a href="/discount/" class="discount"></a></li>
</ul>
</div>
<div class="user-inter">
<ul>
<li><a href="/user/login" class="login"></a></li>
<li><a href="/user/join" class="join"></a></li>
<li><a href="/user/mycgv" class="mycgv"></a></li>
<li><a href="/user/vip" class="vip"></a></li>
<li><a href="/user/club" class="club-service"></a></li>
<li><a href="" class="customer"></a></li>
<li><a href="" class="showtimes"></a></li>
</ul>
</div>
<div class="head">
<div class="logo">
<a href="/">
<img src="https://img.cgv.co.kr/R2014/images/title/h1_cgv.png" alt="CGV">
</a>
</div>
<div class="popup">
<h1 id="cultureplex"><img src="https://img.cgv.co.kr/R2014/images/title/h2_cultureplex.png"></h1>
<ul id="popup">
<li><a>영화</a></li>
<li><a>예매</a></li>
<li><a>극장</a></li>
<li><a>이벤트 & 컬쳐</a></li>
</ul>
</div>
<div class="search">
<input type="text" />
<button type="button">검색</button>
</div>
</div>
</div>
</div>
<div id="main">
</div>
<div id="footer">
</div>
</body>
</html>