*{
    font-family: 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum, sans-serif;
    font-weight: 300;
    line-height: 1.2;
    color: #666;
    margin: 0 auto;
}
html,body{
    background-color: #FDFCF0;
}

ul{
    list-style:none;
    display: flex;
    margin: 0px;
}
#header{
    background: #fdfcf0 url(https://img.cgv.co.kr/r2014/images/common/bg/bg_header.gif) repeat-x 0 0;
    height: 150px;
}
#main{
    background-color: #FDFCF0;
}
#footer{
    background-color: green;
}

.container{
    width: 980px;
    margin: 0 auto;
    height: 100%;
}
#header .hyperlink{
    height: 30px;
    margin: 0 auto;
    float: left;
}
.hyperlink a, .user-inter a{
    height:30px;
    background-image: url(https://img.cgv.co.kr/r2014/images/sprite/common_sprite_area_v4_2016.png);
    cursor: pointer;
    padding: 0 10px;
    display: inline-block;
    border-left: 1px solid rgb(128 128 128 / 50%);
}

.hyperlink .cgv-app{
    width: 74px;
    background-position: 10px -714px;
}
.hyperlink .facebook{
    width: 44px;
    background-position: -85px -714px;
}
.hyperlink .instagram{
    width: 60px;
    background-position: -263px -714px;
}
.hyperlink .discount{
    width: 85px;
    background-position: -151px -714px;
}
#header .user-inter{
    height: 30px;
    margin: 0 auto;
    float: right;
}
.user-inter .login{
    width: 29px;
    background-position: 10px 9px;
}
.user-inter .join{
    width: 39px;
    background-position: -42px 9px;
}
.user-inter .mycgv{
    width: 39px;
    background-position: -103px 9px;
}
.user-inter .vip{
    width: 62px;
    background-position: -170px 9px;
}
.user-inter .club-service{
    width: 53px;
    background-position: -254px 9px;
}
.user-inter .customer{
    width: 38px;
    background-position: -328px 9px;
}
.user-inter .showtimes{
    width: 106px;
    padding-right:0;
    background-position: -388px 9px;
}


#header .head{
    height: 120px;
    margin: 0 auto;
    top: 12px;
    position: relative;
}

.logo{
    width: 245px;
    height: 80px;
    display: inline-block;
    top: 12px;
    position: relative;
}

.head a{/* top: -10px; *//* position: relative; *//* display: inline-block; *//* height: 100px; */font-family: sans-serif;font-weight: 400;}

.popup{height: 100px;width: 500px;/* background: red; */display: inline-block;text-align: center;}
.search{
    display: inline-block;
    height: 100px;
    width: 200px;
    /* background-color: aliceblue; */
    /* margin: 0; */
}
#cultureplex{
    top: 12px;
    position:relative;
}
#popup{
    top: 15px;
    position: relative;
    padding-left: 0px;
    /* font-family: sans-serif; */
    /* font-weight: 400; */
}
#popup a{
    width: 122px;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-align: left;
}

.search input {
    width: 110px;
    height: 24px;
    top: 12px;
    position: relative;
}
.search button{width: 44px;height: 30px;background-color: #e71a0f;background-image:none;color:#fff;font-weight: 500;top: 12px;left: -6px;position: relative;}


#main{
    background-position: 0 0;
    background: url(https://img.cgv.co.kr/r2014/images/common/bg/bg_c_bricks.png) repeat-x 0 0px;
    width: 100%;
    height: 1200px;
}

#main .slider{width: 100%;height: 450px;margin: 0 auto;outline: 1px solid black;overflow: hidden;}

#main .item-wrap a{
    display: none;
}

#main .item-wrap-on a{
    width:100%;
    height:100%;
    display:block;
}

#main .btn-item{
    width: 13px;
    height: 13px;
    background: url(https://img.cgv.co.kr/r2014/images/sprite/sprite_icon.png) no-repeat 0 -90px;
    position: absolute;
    overflow: hidden;
    top: 565px;
    text-indent: 100%;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    z-index: 20;
    border: none;
    cursor: pointer;
}

.item-wrap-on .btn-item{
    background-position: -16px -90px !important;
}

.slider .btn-move-prev{overflow: hidden;position: absolute;background-image: url(https://img.cgv.co.kr/r2014/images/sprite/sprite_btn.png);background-position: 0 -97px;border: none;width: 26px;height: 52px;white-space: nowrap;text-indent: 150%;top: 349px;left: 480px;background-color: transparent;cursor: pointer;}

.slider .btn-move-next{
    overflow: hidden;
    position: absolute;
    background-image: url(https://img.cgv.co.kr/r2014/images/sprite/sprite_btn.png);
    background-position: -30px -97px;
    border: none;
    width: 26px;
    height: 52px;
    white-space: nowrap;
    text-indent: 150%;
    top: 349px;
    left: 1397px;
    background-color: transparent;
    cursor: pointer;
}

.slider .btn-move-auto{
    overflow: hidden;
    position: absolute;
    background: url(https://img.cgv.co.kr/r2014/images/sprite/sprite_icon.png) no-repeat 0 -90px;
    text-indent: 100%;
    white-space: nowrap;
    width: 13px;
    height: 13px;
    border: none;
    top: 565px;
    left: 978px;
    cursor: pointer;
}

.slider .auto-true{
    background-position: -48px -90px;
}
.slider .auto-false{
    background-position: -32px -90px;
}

.selector h3{
    background: url(https://img.cgv.co.kr/r2014/images/common/bg/bg_h3_line.jpg) repeat-x 0 50%;
    text-align: center;
    margin: 30px 0 15px;
}

.event-list{
    width: 580px;
    height: 39px;
    margin: 0 auto;
    padding: 0;
}
.event-list li{
    align-items: center;
    align-content: center;
}
.event-list li:first-child{
    background: url('https://img.cgv.co.kr/R2014/images/sprite/sprite_corner.png') 0px -20px no-repeat;
    padding-left: 20px;
}
.event-list li:last-child{
    background: url(' https://img.cgv.co.kr/R2014/images/common/bg/ribon_right.png') right 0 no-repeat;
    padding-right: 19px;
}
.event-list li.on a:before{
    content:'';
    display:inline-block;
    width:26px;
    height:39px;
    padding-right:5px;
    background:#e71a0f
    url('https://img.cgv.co.kr/R2014/images/common/ico/ico_finger.png') 0 50% no-repeat;
    vertical-align:top;
    }
.event-list a{
    background-color: #e71a0f;
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    line-height: 39px;
    padding: 8px 8px;
    cursor: pointer;
}
.show-events{
    min-height: 200px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 3px solid #241d1e;
}
.events{
    margin-top: 15px;
    display: none;
}

.events.on{
    display:block;
}

.sidebar{
    margin-top: 10px;
    position: sticky;
    z-index: 1;
    left: 1465.5px;
    width: 116px;
    /* height: 478px; */
    bottom: 321px;
    /* outline: 3px solid #E71A0F; */
    /* border-radius: 10px; */
    /* background-color: #FDFCF0; */
    padding-top: 10px;
}

.sidebar a{
    margin: 6px;
}
.sidebar-content{
    margin-top: 0;
    width: 116px;
    height: 478px;
    outline: 3px solid #E71A0F;
    border-radius: 10px;
    background-color: #FDFCF0;
    padding-top: 10px;
}
.btn-top{position: relative;left: -8px;bottom: 3px;width: 116px;}
.btn-top a{
    width: 116px;
    height: 72px;
    background: url(https://img.cgv.co.kr/r2014/images/common/btn/btn_top.png) no-repeat 0 0;
    display: inline-block;
}
.sub-menu{
    display: none;
    position: absolute;
    top: 31px;
    z-index: 100;
    width: 180px;
    background-color: #323232;
    /* height: 50px; */
    left: -69px;
    border: none;
}
.sub-menu.on{
    display: block;
}
.sub-menu i{
    position: absolute;
    top: -10px;
    left: 50%;
    width: 19px;
    height: 10px;
    background: url(https://img.cgv.co.kr/r2014/images/common/ico/ico_smenu_arrow.png) no-repeat 0 0;
    margin-left: -9px;
    border: none;
}
.sub-menu ul{flex-direction: column;padding: 7px 7px;border: 3px solid #828282;margin: 3px;}
.sub-menu li{margin: 0;}
.sub-menu a{
    color: white;
    font-size: 14px!important;
    line-height: 35px;
    width: 140px!important;
}
.sub-menu a:hover{
    background:url(https://img.cgv.co.kr/r2014/images/common/ico/ico_smenu_hand.png) no-repeat 100% 10px;
    background-postition:50% 0%;
    color:#e71a0f;
}
.sub-menu li.last{
    padding-top: 8px;
    border-top:2px solid #828282;
    margin-top: 8px;
}